.header {
    padding: 15px 100px ;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.header a {
    text-decoration: none;
    color: white;
    margin-right: 40px;
}
nav.header a:hover {
    color: orange;
}
nav.header div{
    display: flex;
}
.text-white {
    color: white;
    display: flex;
}
.text-white > p {
    margin: 0;
}
.text-white > button{
    margin-left: 5px;
    padding: 1px 3px;
}